@{
}

@model Book

<!--Create a partial view for Book Summary-->

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title
            <span class="badge bg-primary rounded-pill" style="float:right;">
                <small>@Model.Price.ToString("c")</small>
            </span>

        </h4>
    </div>

    <ul>
        <li>Author: @Model.Author</li>
        <li>Category: @Model.Category</li>
        <li>Publisher: @Model.Publisher</li>
        <li>Classification: @Model.Classification</li>
    </ul>


    <!--Create purchase form and return Url-->
    <form method="post" asp-page="/Purchase">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Purchase</button>
        </span>
    </form>
</div>

